<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyIIS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>52</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9C53CB45B5713C124972C258648C5D0FB1F4E8B8</string>
				<key>dateExpires</key>
				<string>15/2/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y85TSUMM4F.com.OrDinaD.MyIIS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y85TSUMM4F</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.OrDinaD.MyIIS</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MyIIS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f7d1c4c6-c306-4ece-8a2b-9f169ef4bb9a</string>
				<key>dateExpires</key>
				<string>17/5/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.OrDinaD.MyIIS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y85TSUMM4F</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>0.6.7</string>
		</dict>
	</array>
</dict>
</plist>
